{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>마이페이지에 오신 것을 환영합니다</h1>

<h3>{{user.profile.user.username}}님 안녕하세요.</h3>
<h3>당신은 {{user.profile.grade}}학년입니다.</h3>

<p>팔로워<br>{{ user.profile.followers.count }}명</p>
{% for profile in user.profile.followers.all %}
    * <a href="{% url 'users:mypage' profile.user.id %}">{{profile.user.username}}</a><br>
{% endfor %}

<p>팔로잉<br>{{ user.profile.followings.count }}명</p>
{% for profile in user.profile.followings.all %}
    * <a href="{% url 'users:mypage' profile.user.id %}">{{profile.user.username}}</a><br>
{% endfor %}

{% if request.user != user %}
    {% if request.user.profile in user.profile.followers.all %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-outline-info">언팔로우</button>
        </a>
        {% else %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-info">팔로우</button>
        </a>
        {% endif %}
    {% endif %}

<h2>작성한 글</h2>
<div>
    {% for post in posts %}
    {% if post.writer == user %}
    <div>
        <hr/>
        <h3>{{post.title}}</h3>
        {{post.writer}} | {{post.flavor}}<br>
        {{post.pub_date}}<br>
        {{post.summary}}
        <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
    </div>
    {% endif %}
    {% endfor %}
</div><hr/><br>

{% endblock %}