{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        {% for post in posts %}
        <div>
            <hr/>
            <h3>{{post.title}}</h3>
            {{post.writer}} | {{post.flavor}}<br>
            {{post.pub_date}}<br>
            {{post.summary}}
            <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
        </div>
        {% endfor %}
    </div><hr/><br>

    <img src="{% static 'images/뉴욕치즈케이크.png' %}" alt="뉴욕치즈케이크" width="200px">
    <h2>뉴욕 치즈케이크</h2>
    <div>⭐⭐⭐⭐⭐</div>
    <div>나의 배라 최애 맛!!<br>언제 먹어도 맛있음!!</div>

    <img src="{% static 'images/민트초콜릿칩.png' %}" alt="민트초콜릿칩" width="200px">
    <h2>민트 초콜릿 칩</h2>
    <div>⭐</div>
    <div>왜 먹는지 잘 모르겠음</div>

    <img src="{% static 'images/바닐라.png' %}" alt="바닐라" width="200px">
    <h2>바닐라</h2>
    <div>⭐⭐⭐</div>
    <div>맛있긴 한데 투게더 맛임</div>

    <img src="{% static 'images/바람과함께사라지다.png' %}" alt="바람과함께사라지다" width="200px">
    <h2>바람과 함께 사라지다</h2>
    <div>⭐⭐⭐⭐⭐</div>
    <div>치즈 큐브가 씹히는 것이 굉장히 맛있음</div>

    <img src="{% static 'images/봉쥬르마카롱.png' %}" alt="봉쥬르마카롱" width="200px">
    <h2>봉쥬르, 마카롱</h2>
    <div>⭐⭐⭐⭐</div>
    <div>최근에 빠진 아이<br>알바 끝나고 사 먹으면서 가봤다</div>

    <img src="{% static 'images/아이스도쿄바나나.png' %}" alt="아이스도쿄바나나" width="200px">
    <h2>아이스 도쿄바나나</h2>
    <div>⭐⭐⭐</div>
    <div>이 달의 신메뉴긴 한데 그냥 바나나 우유 맛이다...<br>그것도 좀 너무 익은 바나나 맛</div>

    <img src="{% static 'images/와사비.png' %}" alt="와사비" width="200px">
    <h2>와사비 아이스크림</h2>
    <div>⭐⭐⭐</div>
    <div>생각보다 꽤 달고...와사비 맛이다<br>사먹지는 말고 맛보기로 먹어보세요</div>

    <img src="{% static 'images/이상한나라의솜사탕.png' %}" alt="이상한나라의솜사탕" width="200px">
    <h2>이상한 나라의 솜사탕</h2>
    <div>⭐⭐⭐⭐</div>
    <div>나의 배라 두 번째 픽!!</div>
{% endblock %}