{% extends 'base.html' %}
{% load static %}
{% block content %}
        <img src="{% static 'images/logo.png' %}" alt="logo" width="100px">
        <h1>🦁Django MTV🦁</h1>
        <div><b><i>MTV란?</i></b></div>
        <ul>
            <li>Model : 데이터</li>
            <li>Template : 요청에 따른 적절한 로직 수행</li>
            <li>View : 보여지는 부분, 인터페이스</li>
        </ul>
    </div>
    <h2>🦁Django?🦁</h2>
    <div>'파이썬으로 작성된 웹 애플리케이션 프레임워크'</div><br>
    <div>데이터베이스 모델링, URL 라우팅, 템플릿 처리, 사용자 인증, 관리자 패널 등의 기능을 내장</div><br>
    <div>유연성과 확장성이 뛰어나며, 쉬운 문법과 다양한 오픈소스 패키지의 지원으로 인해 웹 개발에 용이함</div>


{% endblock %}